.nav{
    height:60px;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}
.nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}
.amazon-logo img{
    width: 100px;
    object-fit: contain;
    margin: 18px 20px 0 20px;
}
.header-nav{
    display: flex;
    color: #fff;
    justify-content:space-evenly ;

}
.search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.search input{
    height: 32px;
    border: none;
    width: 100%;
    font-size: 19px;
    padding: 0 5px;
}
.search input:focus{
    outline: none;
    /* background-color: rgb(215, 215, 240); */
}
.search-icon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}
.header-nav div{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    margin-top: -2px;
}
.up{
    color: rgba(255, 255, 255, 0.816);
    font-size: 10px;
    font-weight: 500;
    margin-bottom: -2px;
}
.down{
    font-size: 13px;
    font-weight:700;
}
.basket{
    flex-direction: row !important;
    margin: 0 !important;
}
.item-quantity{
    margin-left: 10px;
}
.error-container{
    background-color:#fff;
    width: 350px;
    margin:230px auto;
    padding:20px;
    border-radius:7px;
}
.error-container h2{
    margin: 0 0 7px 0;
    text-align:center;
}
.sign-out{
    width: 60px;
    height:20px;
    margin:15px 10px 0 6px;
    background-color:#f2b667;
    border:1px solid #555;
    font-size:12px;
    padding-top:2px;
    border-radius:2px;
}
.sign-out:hover{
    background-color:#f2ad54;

}
.cancel{
    width: 60px;
    height:21px;   
    margin:15px 10px 0  8px;
    background-color:#ffffff;
    border:1px solid rgb(175, 175, 175);
    font-size:12px;
    border-radius:2px;
}
.cancel:hover{
    background-color:rgb(225, 224, 224);
}
.button-container{
    display:flex;
    flex-direction:flex-end;
    justify-content:flex-end;
}