.container{
    height:60px;
    background-color:#131921;
    width:100%;
    bottom:0;
    left:0;
}
.container p{
    text-align: center;
    color:#fff;
    padding:20px 0;
    font-weight: 300;
    font-size: 14px;
}
